.messages{
    border: 1px solid black;
    width: 100%;
    flex:1;
}

html{
    height:98%;
}

body{
    height:100%;
    display: flex;
    flex-direction: column;

}

input{
    height: 30px;
    margin: 5px 0;
    width:90%;
    font-size: 18px;
}

.new-message button{
    padding: 10px 10px;
    font-size: 18px;
}